.blog {
  background-color: #f9f9f9;
}

.post-list {
  padding-top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media (min-width: 48em) {
  .post-list {
    padding-top: 5em;
  }
}

.post-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding-top: 2.5em;
}

@media (min-width: 48em) {
  .post-content {
    padding-top: 5em;
  }
}

.comments {
  padding: 50px 0;
  background-color: #fafafa;
}