<div class="category-posts-wrapper">
	{% assign category_name = category[0] %}
	{% assign category_posts = category[1] %}

	{% if site.category-posts-show-less-enable | default: true %}
		{% assign max_posts = site.category-posts-show-less-number | default: 5 %}

		<h2 class="category-title" id="{{ category_name }}">{{ category_name | capitalize | strip_html | truncate: 50 }}</h2>
		<input type="checkbox" class="show-more-state" id="category-posts-{{ category_name }}"/>
		{% if category_posts.size > max_posts %}
			<label class="category-title show-more-trigger" for="category-posts-{{ category_name }}" 
				text-all="&darr; {{ site.data.strings.show-all-posts | default: 'Show all' }}" 
				text-less="&uarr; {{ site.data.string.show-less-posts | default: 'Show less' }}">			
			</label>
		{% endif %}

		<ul class="show-more-wrap">
		{% assign counter = 1 %}
		  {% for post in category_posts %}
			{% if counter <= max_posts %}
		  		<div class="category-post">{% include post-category.html %}</div>
		  		{% assign counter = counter | plus: 1 %}
		  	{% else %}
		  		<div class="category-post show-more-target">{% include post-category.html %}</div>
		  	{% endif %}
		  {% endfor %}
		</ul>

	{% else %}
		<h2 class="category-title" id="{{ category_name }}">{{ category_name | capitalize | strip_html | truncate: 50 }}</h2>
		{% for post in category_posts %}
			<div class="category-post">{% include post-category.html %}</div>
	  	{% endfor %}
	{% endif %}

</div>