<head>
  	
  	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="{{ site.title }}; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ site.author }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

	{% if page.title == 'Home' %}
		<title>{{ site.title }} | {{ site.data.strings.description-home }}</title>
	{% else %}
		<title>{{ page.title }} | {{ site.title }}</title>
	{% endif %}

	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% else %}
		<meta name="description" content="{{ site.data.strings.description }}">
	{% endif %}
	
	{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords }}">
	{% else %}
		<meta name="keywords" content="{{ site.data.strings.keywords }}"/>
	{% endif %}

	<!-- OG META -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
	<meta property="og:locale" content="en_US" />
	<meta name="twitter:card" content="summary" />
	<meta property="og:locale:alternate" content="pl_PL" />
	<meta property="og:locale:alternate" content="en_GB" />
	<meta name="twitter:site" content="@maciejnowa">

	{% if page.title == 'Home' %}
		<meta property="og:title" content="{{ site.title }} | {{ site.data.strings.description-home }}" />	
		<meta name="twitter:title" content="{{ site.title }} | {{ site.data.strings.description-home }}" />
	{% else %}
		<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
		<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}" />
	{% endif %}

	{% if page.description %}
		<meta property="og:description" content="{{ page.description }}" />
		<meta name="twitter:description"  content="{{ page.description }}" />
	{% else %}
		<meta property="og:description" content="{{ site.data.strings.description }}" />
		<meta name="twitter:description"  content="{{ site.data.strings.description }}" />
	{% endif %}
	
	{% if page.image %}
		<meta property="og:image" content="{{ site.url }}/assets/img/posts/{{ page.image }}_thumb.jpg" />
		<meta property="og:image:secure_url" content="{{ site.url }}/assets/img/posts/{{ page.image }}_thumb.jpg" />
		<meta name="twitter:image" content="{{ site.url }}/assets/img/posts/{{ page.image }}_thumb.jpg" />
	{% else %}
		<meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
		<meta property="og:image:secure_url" content="{{ site.url }}/assets/img/logo.png" />
		<meta name="twitter:image" content="{{ site.url }}/assets/img/logo.png" />
	{% endif %}

	<!-- FAVICON -->
	<link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico | relative_url }}" type="image/x-icon">
	<link rel="icon" href="{{ '/assets/img/icons/favicon.ico | relative_url }}" type="image/x-icon" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/icons/favicon-32x32.png' | relative_url }}">
  	<link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/icons/favicon-16x16.png' | relative_url }}">

  	<!-- STYLESHEET -->
  	<style class="inlineCSS">
		{% include assets/critical.css %}
	</style>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	</noscript>
	<script type="text/javascript">
		{% include assets/loadCss.js %}
	</script>

	{% if site.google-analytics-enable and site.google-analytics and jekyll.environment == 'production' %}
		{% include google-analytics.html %}
	{% endif %}

</head>
