<nav class="header__links">
	<div class="container header__links-wrapper">

		 <a class="header__link" href="{{ site.data.strings.page-blog | default: "blog" | downcase | relative_url }}" itemprop="url">
		  	<span itemprop="name">
		  		{{ site.data.strings.page-blog | default: "Blog" }}	
		  	</span>
		 </a>

		 <a class="header__link" href="{{ site.data.strings.page-categories | default: "categories" | downcase | relative_url }}" itemprop="url">
		  	<span itemprop="name">
		  		{{ site.data.strings.page-categories | default: "Categories" }}
		  </span>
		 </a>

		 <a class="header__link" href="{{ site.data.strings.page-about | default: "about" | downcase | relative_url }}" itemprop="url">
		  	<span itemprop="name">
		  		{{ site.data.strings.page-about | default: "About" }}
		  	</span>
		 </a>

		 {% if site.lang-switch-enable | default: true %}
		 	{% include language-switcher.html %}
		 {% endif %}
	  
	</div>

</nav>

<div class="header__toggle">
	<span></span>
	<span></span>
	<span></span>
</div>