<a class="post-card" href="{{ post.url | relative_url }}" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  
  {% if post.image %}
  <figure class="post-card__thumb">
    <img src="{{site.url}}/assets/img/posts/{{post.image}}_placehold.jpg"
      data-src="{{site.url}}/assets/img/posts/{{post.image}}_thumb.jpg"
      class="lazyload blur"
      alt="{{post.title}}"/>
    <noscript>
    	<img src="{{site.url}}/assets/img/posts/{{post.image}}_thumb.jpg" alt="{{ post.title }}">
    </noscript>
  </figure>

  {% else %}
  <figure class="post-card__thumb">
    <div class="dark-bg"></div>
  </figure>
  {% endif %}

  <div class="post-card__inner">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
      <h5>{{ post.categories }}</h5>
      <span class="post-card__meta">
        <time>{% include date-translated.html date=page.date format=site.date_format %}</time>
      </span>
    </div>

    {% if post.summary %}
      <p>{{ post.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
    
  </div>
</a>
