<div class="hero__wrap">
 
  <h1 class="hero__title">{{ page.title | strip_to_html | truncate: 50 }}</h1>
  <h3 class="hero__category">{{ page.categories }}</h3>

  <div class="hero__meta">
    <span>
      <time>{% include date-translated.html date=page.date format=site.date_format %}</time>&nbsp; | &nbsp;
    </span>
    <span>
      {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
          {{ words | divided_by:180 }} min
      {% endif %} 

      {{ site.data.strings.post-read | default: "read" }}
    </span>
  </div>
  
</div>